.signup-container{
    margin: auto;
    margin-top: 50px;
    width: 96vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.signup-container h1{
    font-weight: 400;
}
.signup-container input{
    height: 40px;
    font-size: 17px;
    padding-left: 15px;
}
.signup-container > span{
    display: none;
}